<div class="wrap">
    <nav class="navbar navbar-expand-lg navbar-light  nav" style="border-bottom: white 1px  solid ;">
        <div class="brand" style="width: 50%;">
            <a class="navbar-brand logo" href="#">Bloghub</a>
        </div>
        <button class="navbar-toggler"  style="background-color: white;" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="divone collapse navbar-collapse" id="navbarTogglerDemo01"  >
          <ul class="navbar-nav" style="font-size: 20px; padding: 10px;">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: white;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;">Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"style="color: white;"> Pages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: white;">Write</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: white;">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: white;">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
</div>