/* -----------------Global Classes---------------------- */


/*# --------x-------Global Classes--------x------------- */
.wrap{
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background: #000
}
.nav .brand{
    width: 100%;
    box-sizing: border-box;
    padding: 0px 0px 0px 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .brand img{
    width: 50px;
    height: 50px;
}
.nav .brand .logo{
    /* color: burlywood; */
    color: sandybrown;
    font-size: 3rem;
    font-weight:900;
    font-family: 'Dancing Script', cursive;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    padding-left: 1rem;
    

}
.nav-row{
    width: 100%;
}
ul{
    /* text-align: center; */
    margin-left: 80px; 
}
li{
    /* text-align: center; */
    padding: 1rem;
    padding-left: 20px;
     padding-right: 20px; 
    /* background-color: tomato; */

}
/* .nav-link{
    color: beige;
} */
ul li a:hover {
    /* padding-left: 1rem; */
    background-color:black;
    border-radius: 5px;
  }

  .card .card-body .c-div-two .c-div-two-two button{
    display:flex;       
}