/* -----------------Global Classes---------------------- */


/*# --------x-------Global Classes--------x------------- */

.nav{
    position:relative;
    width: 100%;
    background:rgba(0,25,53);
}

.nav .brand .logo{
    /* color: burlywood; */
    color: sandybrown;
    font-size: 50px;
    font-weight:900;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 1rem;
    
}
ul{
    margin-left: 80px; 
}
li{
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: tomato; */

}
/* .nav-link{
    color: beige;
} */
ul li a:hover {
    background-color:black;
    border-radius: 5px;
  }