<div class="wrap">
    <nav class="navbar navbar-expand-lg navbar-light  nav" style="border-bottom: white 1px  solid ;">
        <div class="brand" >
            <a class="navbar-brand logo" href="#">Bloghub</a>
        </div>
        <button class="navbar-toggler"  style="background-color: white;" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="divone collapse navbar-collapse" id="navbarTogglerDemo01"  >
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/home']" style="color: white;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/category']" style="color: white;">Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="openModal(writeModal,'writeblog')" style="color: white; cursor: pointer;">Write</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="javascript:void(0)" (click)="changeBSV()" style="color: white;">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="openModal(temp)" style="color: white; cursor: pointer;">LogIn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: white;">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
</div>

<section>
  <ng-template #writeModal >
  <div class="glass-container">
    <div class="glass" style="width: 100%;">
      <div class="container">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Write Your Blog</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="writeblogModalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="width: 100%;">
          <div class="card">
            <div class="card-body m-2">
              <div>
              <div class="d-flex my-2 flex-row">
                <div class="">
                  <input type="text" placeholder="Title" style="width: 100%; border: none; line-height: 4rem; font-size: 28px;">
                </div>
              </div>
              <div class="d-flex flex-row">
                <div class="" >
                  <input type="text" placeholder="your text here" style="width: 100%; border: none; font-size: 20px;">
                </div>
                <div class="" >
                  <div class="row">
                    <div>
                      <ul class="list-unstyled d-flex flex-row" *ngIf="showME">
                        <li class="px-1">
                          <a href=""><i class="fa fa-headphones" style="color: black;" aria-hidden="true"></i></a>
                        </li>
                        <li class="px-1">
                          <a href=""><i class="fa fa-video-camera" style="color: black" aria-hidden="true"></i></a>
                        </li>
                        <li class="px-1">
                          <a href=""><i class="fa fa-camera" style="color:black" aria-hidden="true"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div style="margin-left:12rem">
                      <button class="btn btn-light" (click)="toggle()" type="button">...</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row d-flex flex-row my-2 mx-2"  style="padding-top: 4rem; justify-content: space-between;">
                <div class="">
                 <button type="button" (click)="close()" class="btn btn-secondary btn-sm px-3 py-1">Close</button>
                </div>
                <div>
                  <button type="button" class="btn btn-success btn-sm px-3 py-1">Post</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
</section>

<section class="Login">
    <ng-template #temp >
      <div class="glass-container">
        <div class="glass" style="width: 100%;">
          <div class="container">
            <div class="modal-header">
              <h4 class="modal-title pull-left">Login</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="width: 100%;">
              <form action="">
                <div class="form-group">
                  <label for="my-input"><i class="fa fa-2x fa-user-circle-o" style="color: slateblue;" aria-hidden="true"></i>&nbsp;Username</label>
                  <input id="my-input" class="form-control" type="text" name="">
                </div>
                <div class="form-group">
                  <label for="my-input"><i class="fa fa-2x fa-lock" style="color:coral;" aria-hidden="true"></i>&nbsp;Password</label>
                  <input id="my-input" class="form-control" type="text" name="">
                </div>
              </form>
            </div>
            <div class="modal-footer pb-0">
              <button type="button" class="btn btn-outline-secondary btn-sm">Close</button>
              <button type="button" class="btn btn-outline-success btn-sm">Login</button>
            </div>
              <a style="cursor: pointer; color: blue; margin-left: 21rem;" (click)="openModal(signupTemplate,'signupmodal')">Create Account?</a>
              <a style="cursor: pointer; color: blue; margin-left: 21rem; margin-bottom: 1rem;" (click)="openModal(signupTemplate,'signupmodal')">Forget Password?</a>
          </div>
        </div>
      </div>
    </ng-template>
</section>


<section class="Signup">
  <ng-template #signupTemplate >
    <div class="glass-container">
      <div class="glass" style="width: 100%;">
        <div class="container">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Sign-up</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="signUpModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="width: 100%;">
            <form action="">
              <div class="form-group">
                <label for="my-input"><i class="fa fa-2x fa-user-circle-o" style="color: slateblue;" aria-hidden="true"></i>&nbsp;Username</label>
                <input id="my-input" class="form-control" type="text" name="">
              </div>
              <div class="form-group">
                <label for="my-input"><i class="fa fa-2x fa-envelope" style="color: skyblue;" aria-hidden="true"></i>&nbsp;Email</label>
                <input id="my-input" placeholder="Enter your E-mail id" class="form-control" type="email" name="">
              </div>
              <div class="form-group">
                <label for="my-input"><i class="fa fa-3x fa-lock" style="color:coral;" aria-hidden="true"></i>&nbsp;Password</label>
                <input id="my-input" class="form-control" type="text" name="">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-sm">Close</button>
            <button type="button" class="btn btn-outline-primary btn-sm">Signup</button>
            <!-- <a (click)="openModal2(templateNested)">Create Account</a> -->
          </div> 
        </div>
      </div>
    </div>
  </ng-template>
</section>