*{
    /* padding: 0;
    margin: 0; */
}
h1,span,p,a{
    color: aliceblue;
}
.container .site-content .posts{
    display: grid;
    grid-template-columns: 70% 30% ;
}   
.posts .post-content{
    width: 100%;
}
.posts .post-content .menu .features{
    background-color: aliceblue;
    /* margin-left: 50px; */
}
.menu .features ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* text-decoration: none; */
    margin: 30px;
}
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}
.posts .post-content .blogone{
    margin-bottom: 5rem;
}
.posts .sidebar{

}