<div class="main" style="background-color:  rgba(0,25,53); width: 100%; height: 100%;">
    <app-navigationbar></app-navigationbar>
    <section class="contain">
        <div class="site-content">
            <div class="posts">

                <!-- main container -->
                <div class="post-content">

                    <div class="blogone" style="max-width: 900px;" *ngFor="let blog of blogList">
                        <div class="post-img">
                            <div>
                                <img [src]="domSan.bypassSecurityTrustResourceUrl(blog?.timage)" class="img" alt="" height="400px" width="100%">
                            </div>
                        </div>
                        <div class="post-info flex-row">&nbsp;
                            <span><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;{{blog.author.username ? blog.author.username : 'User'}}</span>&nbsp;
                            <span><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;{{blog?.createdAt | date}}</span>
                            <span>&nbsp;&nbsp;2 Comments</span>
                        </div>
                        <div class="post-title">
                            <p>{{blog?.title | uppercase}}</p>
                            <p>{{blog?.shortDescription }}</p>
                            <button class="btn post-btn" [routerLink]="['/read/',blog?._id]">Read More&nbsp;<i class="fa fa-arrow-right"></i></button>
                        </div>
                        <hr style="color: aliceblue; border: 1px solid grey;">
                    </div>


                    <div class="blogone">
                        <div class="post-title">
                            <!-- <p>{{'blogList[0].title | uppercase'}}</p>
                            <p>{{'blogList[0].shortDescription '}}</p> -->
                            <nav style="margin: auto">
                                <ul class="pagination  pg-amber justify-content-center" *ngIf="pager?.pages && pager?.pages?.length">
                                    <li class="page-item" [ngClass]="{disabled:pager?.currentPage === 1}">
                                        <a class="page-link waves-effect" (click)="setHomeData(1)">First</a>
                                    </li>
                                    <li class="page-item" [ngClass]="{disabled:pager?.currentPage === 1}">
                                        <a class="page-link" (click)="setHomeData(pager?.currentPage - 1)">Previous</a>
                                    </li>
                                    <li class="page-item" *ngFor="let page of pager?.pages" [ngClass]="{active:pager?.currentPage === page}">
                                        <a class="page-link" (click)="setHomeData(page)">{{page}}</a>
                                    </li>
                                    <li class="page-item" [ngClass]="{disabled:pager?.currentPage === pager?.totalPages}">
                                        <a class="page-link" (click)="setHomeData(pager?.currentPage + 1)">Next</a>
                                    </li>
                                    <li class="page-item" [ngClass]="{disabled:pager?.currentPage === pager?.totalPages}">
                                        <a class="page-link" (click)="setHomeData(pager?.totalPages)">Last</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- <button class="btn post-btn" [routerLink]="['/read/',blog?._id]">Read More&nbsp;<i class="fa fa-arrow-right"></i></button> -->
                        </div>

                        <!--  pagination -->
                        <div class="post-title">

                        </div>




                        <!-- end pagination -->
                    </div>



                </div>
                <!-- end main container -->



                <!-- right side-bar  -->
                <aside class="sidebar">
                    <div class="checkout">
                        <h4 style="color: white; font-family: poppins; font-weight: 900; line-height: 3rem;">Check out these blogs
                        </h4>
                        <hr style="color: aliceblue; border: 1px solid grey;">
                        <div class="checkout-blog">
                            <div class="b1  flex-row">
                                <div>
                                    <img src="../../../assets/flower1.png" alt="" style="width: 100px; height: 100px; border-radius: 10rem; padding: 10px;">
                                </div>
                                <div class="info py-4 px-2">
                                    <a href="">
                                        <h5 class="name" style="color: white;">Beautiful Flowers</h5>
                                    </a>
                                    <p>Lorem</p>
                                </div>
                            </div>
                        </div>
                        <div class="checkout-blog">
                            <div class="b1 flex-row">
                                <div>
                                    <img src="../../../assets/nature.jpg" alt="" style="width: 100px; height: 100px; border-radius: 10rem; padding: 10px;">
                                </div>
                                <div class="info" style="padding: 10px;">
                                    <a href="">
                                        <h3 class="name" style="color: white;">Nature</h3>
                                    </a>
                                    <p>Lorem</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popular-post">
                        <h4>Popular Posts</h4>
                        <hr style="color: aliceblue; border: 1px solid grey;">
                        <div class="blogone">
                            <div class="post-img">
                                <div>
                                    <img src="../../../assets/cat-fitnes.jpg" class="img" alt="" width="100%">
                                </div>
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Admin</span>&nbsp;&nbsp;
                                <span><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;April 09 2021</span>
                                <span>&nbsp;&nbsp;2 Comments</span>
                            </div>
                            <div class="post-title">
                                <a href="#">Most of us are well aware of the many health benefits of
                  exercise, but finding the discipline to not only start training but to also stick with it is often the
                  hard part. </a>
                            </div>
                        </div>
                        <div class="blogone">
                            <div class="post-img">
                                <div>
                                    <img src="../../../assets/cat-music.jpg" class="img" alt="" width="100%">
                                </div>
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Admin</span>&nbsp;&nbsp;
                                <span><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;April 09 2021</span>
                                <span>&nbsp;&nbsp;2 Comments</span>
                            </div>
                            <div class="post-title">
                                <a href="#">Music, style, and culture site relating relevant news and topics from around the world and
                  within all genres. The latest on music, artist drama, styles, and what artists are wearing.</a>
                            </div>
                        </div>
                        <div class="blogone">
                            <div class="post-img">
                                <div>
                                    <img src="../../../assets/travel-blog.jpg" class="img" alt="" width="100%">
                                </div>
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Admin</span>&nbsp;&nbsp;
                                <span><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;April 09 2021</span>
                                <span>&nbsp;&nbsp;2 Comments</span>
                            </div>
                            <div class="post-title">
                                <a href="#">I’m not going to lie: I think I have a pretty good travel blog. (You probably do too if
                  you’re here.)</a>
                            </div>
                        </div>

                    </div>
                    <div class="category" id="category">
                        <h4>Category</h4>
                        <hr style="color: aliceblue; border: 1px solid grey;">
                        <ul class="category-list">
                            <li class="list-items">
                                <a href="">Technology</a>
                            </li>
                            <li class="list-items">
                                <a href="">Lifestyle</a>
                            </li>
                            <li class="list-items">
                                <a href="">Food</a>
                            </li>
                            <li class="list-items">
                                <a href="">Animal</a>
                            </li>
                            <li class="list-items">
                                <a href="">Shopping</a>
                            </li>
                        </ul>
                    </div>
                    <div class="newsletter">
                        <h4>Newsletter</h4>
                        <hr style="color: aliceblue; border: 1px solid grey;">
                        <div class="form-element">
                            <input type="text" class="input-element" placeholder="Email">
                            <button class="btn form-btn" style="width: 100%;">Subscribe</button>
                        </div>
                    </div>
                </aside>
                <!-- end right side-bar  -->
            </div>
        </div>
    </section>
    <!-- --------------Glass-container----------------------------- -->
    <app-footer id="footer"></app-footer>
</div>

<!-- --------------------Modals------------------- -->
<!-- <section class="text">
  <ng-template #textTemplate >
    <div class="glass-container">
      <div class="glass" style="width: 100%;">
        <div class="container">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Write Your Blog</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="writeblogModalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="width: 100%;">
            <div class="card">
              <div class="card-body m-2">
                <div>
                <div class="d-flex my-2 flex-row">
                  <div class="">
                    <input type="text" placeholder="Title" style="width: 100%; border: none; line-height: 4rem; font-size: 28px;">
                  </div>
                </div>
                <div class="d-flex flex-row">
                  <div class="" >
                    <input type="text" placeholder="your text here" style="width: 100%; border: none; font-size: 20px;">
                  </div>
                  <div class="" >
                    <div class="row">
                      <div>
                        <ul class="list-unstyled d-flex flex-row" *ngIf="showME">
                          <li class="px-1">
                            <a href=""><i class="fa fa-headphones" style="color: black;" aria-hidden="true"></i></a>
                          </li>
                          <li class="px-1">
                            <a href=""><i class="fa fa-video-camera" style="color: black" aria-hidden="true"></i></a>
                          </li>
                          <li class="px-1">
                            <a href=""><i class="fa fa-camera" style="color:black" aria-hidden="true"></i></a>
                          </li>
                        </ul>
                      </div>
                      <div style="margin-left:12rem">
                        <button class="btn btn-light" (click)="toggle()" type="button">...</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row d-flex flex-row my-2 mx-2"  style="padding-top: 4rem; justify-content: space-between;">
                  <div class="">
                   <button type="button" (click)="close()" class="btn btn-secondary btn-sm px-3 py-1">Close</button>
                  </div>
                  <div>
                    <button type="button" class="btn btn-success btn-sm px-3 py-1">Post</button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</section> -->


<!-- <section class="photo">
  <ng-template #photoTemplate >
    <div class="glass-container">
      <div class="glass" style="width: 100%;">
        <div class="container">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Photos</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="photoUpload.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="width: 100%;">
            <div class="contain">
              <div class="wrapper">
                <div class="image">
                  <img *ngIf="url" [src]="url" alt="" #img>
                </div>
                <div class="content">
                  <div class="icon"><i class="fa fa-cloud-upload" aria-hidden="true"></i></div>
                  <div class="text">No file chosen, yet!</div>
                </div>
                <div id="cancel-btn" (click)='onDeselect()' [hidden]="displayCnclBtn==false"><i  class="fa fa-times" aria-hidden="true"></i></div>
                <div class="file-name" [hidden]="displayCnclBtn==false">{{filename}}</div>
              </div>
              <input type="file" (change)="fileSelect($event)" #input hidden id="defaultbtn">
              <button id="custom-btn" (click)="input.click()">choose a file</button>
            </div>
            <div class="caption">
              <input id="" type="text">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-sm">Close</button>
            <button type="button" class="btn btn-outline-primary btn-sm">Post</button>
          
          </div> 
        </div>
      </div>
    </div>
  </ng-template>
</section> -->

<!-- <section class="quote">
  <ng-template #quoteTemplate >
    <div class="glass-container">
      <div class="glass" style="width: 100%;">
        <div class="container">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="quotUploads.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="width: 100%;">
              <textarea name="" id="" cols="45" rows="1" style="width: 100%; border: none; margin-bottom: 1rem; font-size: 40px; font-family:'Courier New', Courier, monospace;" placeholder='"Quote"'></textarea>
              <textarea name="" id="" cols="45" rows="1" style="width: 100%; border: none;margin-bottom: 1rem; font-size: 20px; font-family:'Courier New', Courier, monospace;" placeholder='write here'></textarea>               
          </div>
        </div>
        <div class="modal-footer">
          <div class="row d-flex flex-row mx-2"  style="width: 100%; padding-top: 1rem; justify-content: space-between;">
            <div>
              <button type="button" (click)="close()" class="btn btn-secondary btn-sm px-3 py-1">Close</button>
            </div>
            <div>
              <button type="button" class="btn btn-success btn-sm px-3 py-1">Post</button>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </ng-template>
</section> -->

<!-- <section class="links">
  <ng-template #linksTemplate >
    <div class="glass-container">
      <div class="glass" style="width: 100%;">
        <div class="container">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Links</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="linksUpload.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body m-0 p-0" style="width: 100%;  border: 1px dashed darkgray;">
              <textarea name="" id="" cols="45" rows="1" style="background-color:gainsboro; width: 100%; border: none;font-size: 15px; padding: 4rem; font-family:'Courier New', Courier, monospace;" placeholder='"type or paste URL"'></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row d-flex flex-row mx-2"  style="width: 100%; padding-top: 1rem; justify-content: space-between;">
            <div>
              <button type="button" (click)="close()" class="btn btn-secondary btn-sm px-3 py-1">Close</button>
            </div>
            <div>
              <button type="button" class="btn btn-success btn-sm px-3 py-1">Post</button>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </ng-template>
</section> -->

<!-- <section class="chat">
  <ng-template #chatTemplate >
    <div class="glass-container">
      <div class="glass" style="width: 100%;">
        <div class="container">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Sign-up</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="doChat.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="width: 100%;">
            <form action="">
              <div class="form-group">
                <label for="my-input"><i class="fa fa-2x fa-user-circle-o" style="color: slateblue;" aria-hidden="true"></i>&nbsp;Username</label>
                <input id="my-input" class="form-control" type="text" name="">
              </div>
              <div class="form-group">
                <label for="my-input"><i class="fa fa-2x fa-envelope" style="color: skyblue;" aria-hidden="true"></i>&nbsp;Email</label>
                <input id="my-input" placeholder="Enter your E-mail id" class="form-control" type="email" name="">
              </div>
              <div class="form-group">
                <label for="my-input"><i class="fa fa-3x fa-lock" style="color:coral;" aria-hidden="true"></i>&nbsp;Password</label>
                <input id="my-input" class="form-control" type="text" name="">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-sm">Close</button>
            <button type="button" class="btn btn-outline-primary btn-sm">Signup</button>
            <a (click)="openModal2(templateNested)">Create Account</a>
          </div> 
        </div>
      </div>
    </div>
  </ng-template>
</section> -->

<!-- <section class="audio">
  <ng-template #audioTemplate >
    <div class="glass-container">
      <div class="glass" style="width: 100%;">
        <div class="container">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Audios</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="audioUpload.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body m-0 p-0" style="width: 100%;  border: 1px dashed darkgray;">
            <textarea name="" id="" cols="45" rows="1" style="background-color:gainsboro; width: 100%; border: none;font-size: 15px; padding: 4rem; font-family:'Courier New', Courier, monospace;" placeholder='"type or paste URL"'></textarea>
        </div>
        <div class="modal-footer">
          <div class="row d-flex flex-row mx-2"  style="width: 100%; padding-top: 1rem; justify-content: space-between;">
            <div>
              <button type="button" (click)="close()" class="btn btn-secondary btn-sm px-3 py-1">Close</button>
            </div>
            <div>
              <button type="button" class="btn btn-success btn-sm px-3 py-1">Post</button>
            </div>
          </div>
        </div> 
        </div>
      </div>
    </div>
  </ng-template>
</section> -->

<!-- <section class="vedio">
  <ng-template #vedioTemplate >
    <div class="glass-container">
      <div class="glass" style="width: 100%;">
        <div class="container">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Sign-up</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="vediosUploads.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="width: 100%;">
            <form action="">
              <div class="form-group">
                <label for="my-input"><i class="fa fa-2x fa-user-circle-o" style="color: slateblue;" aria-hidden="true"></i>&nbsp;Username</label>
                <input id="my-input" class="form-control" type="text" name="">
              </div>
              <div class="form-group">
                <label for="my-input"><i class="fa fa-2x fa-envelope" style="color: skyblue;" aria-hidden="true"></i>&nbsp;Email</label>
                <input id="my-input" placeholder="Enter your E-mail id" class="form-control" type="email" name="">
              </div>
              <div class="form-group">
                <label for="my-input"><i class="fa fa-3x fa-lock" style="color:coral;" aria-hidden="true"></i>&nbsp;Password</label>
                <input id="my-input" class="form-control" type="text" name="">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-sm">Close</button>
            <button type="button" class="btn btn-outline-primary btn-sm">Signup</button>
            
          </div> 
        </div>
      </div>
    </div>
  </ng-template>
</section> -->
<!-- -------------------x------------modals------------x--------------- -->


