body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 700px) {
    .nav{
        display: none;
    }
    .sectwo{
        display: none;
        /* width: 100%;
        padding-left: 5rem;
        display: flex;
        flex-direction: column; */
    }
    /* .sectwo .two .img{
        padding-top: 1rem;
        width: 50%;
    }
    .sectwo .two .info{
        width: 50%; 
        background: chartreuse;
    } */
    .secthree .on{
        flex-wrap: wrap;
    }
    
}
.secone{
    width: 100%;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.4),#54bae2), url(../../../assets/index.jpg);
    background-size: cover;
    background-position:center;
    /* display: flex; */
}
.secone  .one{
    height: 30%;
}
.secone .two{
    text-align: center;
    height: 50%;
    width: 100%;
}
.secone .two div h1{
    font-size: 50px;
    font-weight: 900;
    color: #ff8533;
}
.secone .third{
    height: 20%;
}
.secone .two form table tr td .bttns .bt1{
    background-color: rgb(68, 174, 216);
    
}
.secone .two form table tr td .bttns .bt{
    background-color: rgb(61, 221, 61);
}

.sectwo{
    width: 100%;
    height: 120vh;
    background: rgb(61, 221, 61);
    /* background-size: cover;
    background-position:center; */
}
.sectwo .one{
    height: 20%;
}
.sectwo .one h3{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    color: white;
    font-weight: 600;
}
.sectwo .two {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.sectwo .two .info{
    width: 50%; 
    text-align: center;
    padding: 1rem;
    /* margin: 0rem 32rem; */
}
.secthree {
    width: 100%;
    height: 100vh;
    background:url("../../../assets/3.jpg");
    background-size: cover;
    background-position:center;
}
.secthree .on{
    margin-left: 5rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
}

.secfour{
    /* position:absolute; */
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position:center;
    /* background: rgb(247, 55, 21); */
}
.secfour .slider{
    display: block;
}
.carousel-caption{
    color: black;
    padding-bottom: 400px;
    line-height: 30px;
}
.carousel-caption h1{
    font-size: 42px;
    letter-spacing: 2px;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: marienda;
}

.carousel-caption h5{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    font-family: 'Poppins', sans-serif;
}
.secfive{
    width: 100%;
    height: 120vh;
    background: #ff8533
}

.secfive .centerdiv .one{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-bottom: 20px;
}
.secfive .centerdiv .one ul li{
    height: 100px;
    width: 100px;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 60px;

}
.secfive .centerdiv ul li span{
    font-size: 22px;
    color: aliceblue;
    font-weight: 600;
    
}
.secfive .centerdiv ul li a{
    text-decoration: none;
    /* align-items: center; */
}
.secfive .centerdiv ul li a i{
    margin-top:25px;
}
/* .secfive .centerdiv .iconsname{
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: left;
}
.secfive .centerdiv .iconsname p{
    text-align: left;
    display: inline;
    margin-left:100px ;
    marginpx; */
    /* line-height: 10px;

} */
.secfive .centerdiv .two{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
}
.secfive .centerdiv ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
.secfive .centerdiv .two ul li {
    height: 100px;
    width: 100px;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 60px;
}