<!-- <div class="row" style="height: 5.5rem;background-color: rgb(229, 220, 238);">
    <div class="col-md-12"></div>
</div> -->


<section class="writesec">

    <div class="row heading-row">

        <div class="col-lg-4 col-md-4 offset-lg-1 offset-md-1 offset-sm-1 col-sm-5">
            <button class="btn btn-info rounded mt-4" [routerLink]="['/home']"> <i class="fa fa-left-arrow"></i> Back To Home</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-5 heading">
            <h1 [routerLink]="['/home']">My<span style="color: blueviolet;">Thoughts</span></h1>
        </div>

    </div>

    <div class="row">
        <form [formGroup]="blogForm" (ngSubmit)="submitBlogForPublish()" class="col-lg-12 col-md-12 col-sm-12 blogcontent">
            <div class="box row">
                <div class="text-info col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <fieldset class="form-group">
                            <label style="font-size: 20px;font-weight: 700;">Upload Front Image</label> {{imageError}}
                            <div class="custom-file fileInputProfileWrap">
                                <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                                <div class="img-space">
                                    <ng-container *ngIf="isImageSaved; else elseTemplate">
                                        <img [src]="cardImageBase64" />
                                    </ng-container>
                                    <ng-template #elseTemplate>

                                    </ng-template>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <button style="float: right;" class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</button>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="title" style="font-size: 20px;font-weight: 700;">Title</label>
                                <input formControlName="title" type="text" class="form-control" id="title" placeholder="Enter title here...">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="cat" style="font-size: 20px;font-weight: 700;">Category</label>
                                <select class="custom-select" formControlName="category" name="cat" id="cat">
                                    <option *ngFor="let cat of catList" [value]="cat?._id">{{cat?.categoryName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="description" class="text-bold" style="font-size: 20px;font-weight: 700;">Discription</label>
                            <div style="background-color: whitesmoke;">
                                <input formControlName="description" [ngxSummernote]="config">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="btn btn-primary m-2">Submit</button>

                            <button type="reset" class="btn btn-warning m-2">Reset</button>
                        </div>
                    </div>
                </div>


            </div>
        </form>

    </div>
</section>

<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->